@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
img {
  width: 100%;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  width: 40%;
}

.header__description p {
  margin-top: 24px;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
}
.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__link--anchor {
  text-decoration: none;
}

.nav__links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav__button {
  background-color: #6415ff;
  padding: 16px 32px;
  border-radius: 99px;
  border: none;
  color: white;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 50px;
  height: 50px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}
.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 

FEATURES ↓

*/

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
#features {
  padding: 80px 0;
}

#features .row {
  flex-direction: column;
}
.feature img {
  width: 52px;
  height: 52px;
}
.features__header {
  text-align: center;
  margin-bottom: 80px;
}

.features__tag {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.features__title {
  font-size: 48px;
  color: #243e63;
  margin-bottom: 24px;
}

.features__title span {
  color: #6415ff;
}

.features__para {
  max-width: 600px;
  margin: 0 auto;
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.6;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
}

.feature {
  width: calc(100% / 3 - 32px);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.feature__icon {
  min-width: 64px;
  height: 64px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  color: #6415ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.feature__title {
  font-size: 24px;
  color: #243e63;
  margin-bottom: 12px;
}

.feature__para {
  color: #7c8ba1;
  font-size: 16px;
  line-height: 1.8;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
}

/* 

QUALITY WORK ↓

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #243e63;
}

.container {
  padding: 96px 32px;
  max-width: 1280px;
  margin: 0 auto;
}

.quality__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.quality__description {
  width: 45%;
}

.section__tag {
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section__title {
  font-size: 48px;
  line-height: 1.15;
  font-weight: 900;
  color: #243e63;
  margin-bottom: 24px;
}

.section__title span {
  color: #6415ff;
}

.section__para {
  font-size: 18px;
  line-height: 1.8;
  color: #7c8ba1;
  margin-bottom: 32px;
}

.btn {
  background-color: #6415ff;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.quality__img--wrapper {
  width: 55%;
}

.quality__img {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

/* Mobile */
@media (max-width: 768px) {
  .quality__row {
    flex-direction: column;
    text-align: center;
  }

  .quality__description,
  .quality__img--wrapper {
    width: 100%;
  }

  .section__title {
    font-size: 36px;
  }
}

/* 

STEPS ↓

*/

#steps {
  padding: 96, 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 56px 0;
}

#steps.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}
.steps__row {
    display: flex;
}

.steps__img--wrapper {
  width: 50%;
}

.section__tag {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  line-height: 1.2;
  margin-bottom: 48px;
}

.section__title span {
  color: #6415ff;
}

.step {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 700;
}

.step__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.step__para {
  color: #718096;
  font-size: 16px;
  line-height: 2;
  max-width: 340px;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
